<div class="login-wrapper">
  <form class="login">
    <label class="title">
        <h1 class="welcome">iR<img class="logo-iron" src="https://png.icons8.com/android/1600/snowflake.png" alt="logo-iron">n</h1>
      <h5 class="hint">Create your user now</h5>
    </label>
    <div class="login-group">
      <input [(ngModel)]="formInfo.username" name="username" class="username" type="text" id="login_username" placeholder="Username">
      <input [(ngModel)]="formInfo.password" name="password" class="password" type="password" id="login_password" placeholder="Password">
      <input [(ngModel)]="formInfo.confirmPassword" name="confirmPassword" class="password" type="password" id="login_confirmPassword"
        placeholder="Confirm your Password">
      <div *ngIf="error">
        <p class="error active">{{error}}</p>
      </div>
      <button type="submit" (click)="signup()" class="btn btn-primary">SIGNUP</button>
      <a [routerLink]="['/login']" class="signup">Go to login</a>
    </div>
  </form>
</div>
