<h1>Mis gastos</h1>

<select #select>
    <option *ngFor="let device of devicesUser" [value]="device._id">
     {{device.deviceId}}
    </option>
  </select>

  <button (click)="seeGraph(select.value)">See graph</button>


  <div *ngIf="showChart" style="display: block">
      <canvas baseChart
              [datasets]="radarChartData"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
              (chartHover)="chartHovered($event)"
              [options] = "chartOptions"
              (chartClick)="chartClicked($event)"></canvas>
    </div>