h1 {
  text-align: center;
  margin-top: 10%;
}
.alert-text {
  text-align: center;
}
.btn-recipes {
  margin-top: 10px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.cabecera {
  margin-top: 8%;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
}
.recipes {
 padding-top: 192px;
}
.btn-success {
  border-color: #60b515;
  background-color: #dff0d0;
  color: #565656 !important;
}
.btn {
  color: #565656 !important;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.alert {
  width: 90%;
  margin: 0 auto;
}
span {
  text-align: center;
}

.img-container {
  display:flex;
  padding-top: 192px;
}

img{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}