<app-Nav></app-Nav>
<div class="cabecera">
<h1>Products</h1>
<clr-alert>
  <div class="alert-item">
    <span class="alert-text">
      Total Amount: {{price | number}} €
    </span>
  </div>
</clr-alert>
<div class="btn-recipes" *ngIf="recipes$.length === 0">
  <button disabled="true" class="btn btn-success btn-block">Show Recipes</button>
</div>
<div class="btn-recipes" *ngIf="recipes$.length != 0">
  <a [routerLink]="['/recipes']" class="btn btn-success btn-block">Show Recipes</a>
</div>
</div>

<div class="recipes">
  <div *ngFor="let e of products$">
    <app-Product-card [products]="e" (outGetItem)="getItem($event)" (outGetDelete)="deleteItem($event)"></app-Product-card>
  </div>
</div>

