h1 {
  text-align: center;
  margin-top: 20%;
}
.alert-text {
  text-align: center;
}
.btn-recipes {
  margin-top: 10px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.alert {
  width: 90%;
  margin: 0 auto;
}
span {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}
