<app-Nav></app-Nav>
<h1>Recipes</h1>
<div *ngIf="!loading" >
    <img  class="contenedor" src="http://res.cloudinary.com/dzpmxapkq/image/upload/v1526559670/spinner.gif" alt="">
</div>
<div *ngIf="loading">
    <div *ngFor="let recipe of recipes">
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <div class="card-block">
                    <div class="progress top">
                        <progress value="100" max="100"></progress>
                    </div>
                    <h4 class="card-title">{{recipe.recipe.label}}</h4>
                    <div class="card-img">
                        <img src="{{recipe.recipe.image}}">
                    </div>

                    <!-- <p class="card-text">Yield: {{recipe.recipe.yield}}</p> -->
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-block" (click)="recipeDetail(recipe)">View more</button>
                </div>
            </div>
        </div>
    </div>
</div>