<clr-main-container>
  <clr-header class="header-6">

    <div class="branding" *ngIf="!sessionService.user">
      <a [routerLink]="['']">Home</a>
    </div>
    <div class="branding" *ngIf="sessionService.user">
      <a [routerLink]="['']" class="link-logo">
        <img class="img-logo" src="http://pngimg.com/uploads/snowflakes/snowflakes_PNG7580.png" alt="logo-snowflake">
      </a>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link">
            <span class="nav-text">Hello, {{sessionService.user.username}}!</span>
          </a>
        <a class="nav-link" [routerLink]="['/device/config']">
          <span class="nav-text">
            Add Device
          </span>
        </a>

        <a class="nav-link" [routerLink]="['/historical']">
          <span class="nav-text">Historical</span>
        </a>
        <a class="nav-link" (click)="logout()">
          <span class="nav-text">Log Out</span>
        </a>
      </div>
    </div>
  </clr-header>
</clr-main-container>