.main-container{
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.header{
  background-color: #50c2d6;
}
.img-logo{
  width: 50px;
}
.branding{
  margin-left: 70%;
  width: 60px;
}
.nav-text{
  font-size: 16px;
}