<clr-main-container>
  <clr-header class="header-6">
    <div class="branding" *ngIf="!sessionService.user">
      <a [routerLink]="['']">Home</a>
    </div>
    <div class="branding" *ngIf="sessionService.user">
      <a [routerLink]="['']" class="link-logo">
        <img class="img-logo" src="http://pngimg.com/uploads/snowflakes/snowflakes_PNG7580.png" alt="logo-snowflake">
      </a>
      <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" [routerLink]="['/device/config']">
          <span class="nav-text">
            <!-- <img src="http://res.cloudinary.com/lloren27/image/upload/v1526245531/outline_add_circle_outline_white_18dp.png">  -->
            Add Device
          </span>
        </a>
        <!-- <a class="nav-link" (click)="gotoBets()">
          <span class="nav-text">Ver apuestas pendientes</span>
        </a>
        <a class="nav-link" [routerLink]="['/statistics']">
          <span class="nav-text">Resultado/Estadisticas</span>
        </a> -->
        <a class="nav-link" (click)="sessionService.logout().subscribe()">
          <span class="nav-text">Log Out</span>
        </a>
      </div>
    </div>
  </clr-header>
</clr-main-container>
