<div class="login-wrapper">
    <form class="login">
        <label class="title">
                <h1 class="welcome">iR<img class="logo-iron" src="https://png.icons8.com/android/1600/snowflake.png" alt="logo-iron">n</h1>
            <h5 class="hint">Use your username to sign in</h5>
        </label>
        <div class="login-group">
            <input class="username" [(ngModel)]="formInfo.username" type="text" id="login_username" placeholder="Username" name ="username">
            <input class="password" [(ngModel)]="formInfo.password" type="password" id="login_password" placeholder="Password" name="password">
            <div *ngIf="error">
                <p class="error active">{{error}}</p>
            </div>

            <button type="submit" class="btn btn-primary" (click)="logIn()">Log In</button>
            <a [routerLink]="['/signup']" class="signup">Create an account</a>
        </div>
    </form>
</div>
