.form-block{
  margin-top: 20px;
  text-align: center;
}
h1{
  text-align: center;
}
.prueba{
  margin-top: 20px;
}
.btn[_ngcontent-c1] {
  width: 74%;
  margin: 0 auto;
  height: 55px;
}
.contenedor{
  margin-top: 55px;
}

input{
  margin-bottom: 25px;
  margin-top: 10px;
  width: 90%;
}