<app-Nav></app-Nav>
<div class="contenedor">
  <h1>Link Your Device</h1>
  <section class="form-block">
    <label><h5>Form to link a device</h5></label>
    <br>
    <div class="form-group">
      <form ngNativeValidate>
      <label for="deviceId">Device Id</label>
      <input type="text" [(ngModel)]="deviceId" name="deviceId" placeholder="Enter the Id" size="45" required>

      <label for="enviroment">Environment</label>
      <input type="text" [(ngModel)]="environment" name="environment" placeholder="Enter the enviroment" size="45" required>
    </form>
    </div>
    <div *ngIf="linkedDevice">
      <div class="alert alert-success">
        <div class="alert-items">
          <div class="alert-item static">
            <span class="alert-text">
                Successfully linked device
            </span>
            <span class="alert-text">
                You are redirecting to Home..
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="error != ''">
        <div class="alert alert-danger">
          <div class="alert-items">
            <div class="alert-item static">
              <span class="alert-text">
                 {{error}}
              </span>
            </div>
          </div>
        </div>
      </div>
    <button type="submit" (click)="linkDevice()" class="btn btn-outline-primary btn-block" style="
        margin-top: 20px;
    ">Link</button>
  </section>

</div>



