<div class="general" *ngIf="!sessionService.user">
  <div class="login-wrapper">
    <form class="login">
      <label class="title">
        <h1 class="welcome">Welcome to Iron</h1>
      </label>
      <!-- <img src="https://png.icons8.com/android/1600/snowflake.png" alt="logo-iron"> -->
      <div class="login-group">
        <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
        <a [routerLink]="['/signup']" class="btn btn-primary">Sign Up</a>
      </div>
    </form>
  </div>
</div>

<div *ngIf="sessionService.user">

  <div *ngIf="devices.length === 0">
    <app-InitialWelcome></app-InitialWelcome>
  </div>

  <div *ngIf="devices.length != 0">
    <app-Nav></app-Nav>
    <div class="cabecera">
      <h2>My Device</h2>
    </div>
    <div class="button-header">
      <button class="btn btn-block btn-recipes btn-add" (click)="goDevice()">ADD</button>
      <button class="btn btn-block btn-recipes btn-add" (click)="goHistorical()">Historical Data</button>
    </div>
    <div *ngFor="let device of devices, let odd=odd, let even=even">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Environment: {{device.environment}}</h4>
            <div *ngIf="even" class="card-img">
              <img src="http://res.cloudinary.com/dzpmxapkq/image/upload/v1526311202/fridge.svg" (click)="viewProducts(device._id)">
            </div>
            <div *ngIf="odd" class="card-img">
              <img src="http://res.cloudinary.com/dzpmxapkq/image/upload/v1526311431/shelves.svg" (click)="viewProducts(device._id)">
            </div>

            <p class="card-text"> Device Id: {{device.deviceId}}</p>
          </div>
          <div class="card-footer">
            <div class="trash-footer">
              <button (click)="deleteDevice(device._id)" class="btn btn-outline-warning trash-button">
                <img class="logo-trash" src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/Recycle_Bin_Full.png" alt="trash-logo">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>