.login-wrapper{
  /* background: url("https://media3.bosch-home.com/Images/800x/MCIM02026056_frigorificos-combis.jpg"); */
  background: url("https://media3.bosch-home.com/Images/1600x/MCIM02638161_frigorificos-de-colores-variostyle.gif");
  /* https://media3.bosch-home.com/Images/800x/MCIM02689011_KSF36PI3P.jpg */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 58%;
}
.login{
  background: none;
}
img{
  width: 200px;
  margin: 0 auto
}
h2{
  text-align: center;
  margin-top: 20%;
}
h4,h3,p{
  text-align: center;
}

.btn-recipes{
  margin-top: 10px;
  padding-right: .5rem;
  padding-left: .5rem;
}

.btn-add{
  width: 94%;
  margin: 15px auto;
}
.logo-trash{
  width: 26px;
  height: 25px;
}
.trash-button{
  height: 38px;
}
.btn-add {
  font-size: 17px;
  width: 94%;
  margin: 15px auto;
  height: 40px;
}
.card-footer{
  display: flex;
}
.trash-footer{
  margin-left: auto;
}