<div *ngIf="error">
  <p class="error active">{{error}}</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">{{products.name}}</h3>
      <p class="card-text">
        Brand: {{products.brand}}
        <br> Category: {{products.category}}
        <br> Ingredients: {{products.ingredients}}
        <br> Price: {{products.price}} €
        <br> Code: {{products.code}}
        <br> Due date: {{products.remainingDays}}
      </p>
    </div>
    <div class="card-footer">
      <button class="btn btn-info-outline" (click)="buyProductECI(products.name,products.brand)">Comprar</button>
      <button *ngIf="!status" (click)="outInfo(products.name)" class="btn btn-info-outline">Add</button>
      <button *ngIf="status" (click)="outDelete(products.name)" class="btn btn-warning-outline">Discard</button>
      <p *ngIf="products.remainingDays.includes('expired') || products.remainingDays.includes('today')" class="btn btn-warning-outline"> {{products.remainingDays}} <img class="img-alert" src="https://www.freeiconspng.com/uploads/alert-icon-red-11.png" alt=""> </p>
    </div>
  </div>
</div>
