.img-alert{
  width: 22px;
  height: 20px;
}
.shop-logo{
  width: 22px;
  height: 20px;
  margin-top: -6px;
}
.card-footer{
  display: flex;
}
.expired{
  margin-left: auto;
}

.plus-logo{
  margin-top: -6px;
  width: 22px;
  height: 20px;
}