<div *ngIf="error">
  <p class="error active">{{error}}</p>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-block">
      <div class="prueba">
          <h3 class="card-title">{{products.name}}</h3>
          <div class="plus-father">
              <div class="plus-son">
                <button *ngIf="!showInfo" (click)="showMoreInfo()">
                  <img class="plus-logo" src="http://res.cloudinary.com/dzpmxapkq/image/upload/v1526472395/plus.png" alt="shop-logo">
                </button>        
                <button *ngIf="showInfo" (click)="showMoreInfo()">
                  <img class="plus-logo" src="http://res.cloudinary.com/dzpmxapkq/image/upload/v1526473156/minus.png" alt="shop-logo">
                </button>
              </div>
              
            </div>
          
      </div>
    
      <div class="card-text">
        Brand: {{products.brand}}
        <br> Price: {{products.price}} €
        <br> Due date: {{products.remainingDays}}

        <div *ngIf="showInfo"> Ingredients: {{products.ingredients}}
          <br> Category: {{products.category}}
          <br> Code: {{products.code}}
          <br> {{products.insertDate | date}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-info-outline" (click)="buyProductECI(products.name,products.brand)">
        <img class="shop-logo" src="http://res.cloudinary.com/dzpmxapkq/image/upload/v1526484160/shopping-basket.png" alt="shop-logo">
      </button>

      <button *ngIf="!status" (click)="outInfo(products.name)" class="btn btn-info-outline">Add</button>
      <button *ngIf="status" (click)="outDelete(products.name)" class="btn btn-warning-outline">Discard</button>

      <div class="expired">
        <p *ngIf="products.remainingDays.includes('expired') || products.remainingDays.includes('today')" class="btn btn-warning-outline">
          {{products.remainingDays}}
          <img class="img-alert" src="https://www.freeiconspng.com/uploads/alert-icon-red-11.png" alt=""> </p>

      </div>


    </div>
  </div>
</div>