<app-Nav></app-Nav>
<h1>My Expenses</h1>
<div *ngIf="showChart">
  <div style="display: block">
    <canvas #myChart baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
<div class="button-container">
<button (click)="changeChart()" class="btn btn-outline-primary btn-add">Change Chart</button>
<button (click)="goHistorical()" class="btn btn-outline-primary btn-add">Info per product</button>
</div>